<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pingan.chain.mapper.ChainMappper">
    <resultMap id="chainResult" type="com.pingan.chain.domain.ChainAccount">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="balance" property="balance" jdbcType="BIGINT"/>
        <result column="exchange" property="exchange" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
    </resultMap>


    <update id="frozenUser" parameterType="map">
    update chain_account set frozen = #{frozen}
    where user_id = #{userId}
    </update>


    <select id="getChainAccount" parameterType="map" resultMap="chainResult">
        select * from chain_account where user_id = #{userId}
    </select>


    <update id="transferToUser" parameterType="map">
        update chain_account set balance = (balance+#{addBanlance}) where user_id = #{userId}
    </update>

    <update id="userWithdraw" parameterType="map">
        update chain_account set balance = (balance-#{addBanlance}) where user_id = #{userId}
    </update>

    <select id="getChainAccounts" resultMap="chainResult">
        select * from chain_account
    </select>

</mapper>